<html>
  <head>
    <script src="lib/angular.min.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js"></script>
    <script src="client/app.js"></script>
  </head>
  <body ng-app="problemFinderApp">

    <div ng-controller="submitProblem">
      <form ng-submit="saveProblem()">
        <input type="text" ng-model="newProblem" required />
        <input type="submit" />
      </form>
    </div>

    <div ng-controller="problemView">
      <ul>
        <li ng-repeat="problem in problemList">
          {{problem.body}}
        </li>
      </ul>
    </div>

  </body>
</html>