<html>
  <head>
    <script src="lib/angular.min.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js"></script>
    <script src="client/app.js"></script>

    <link rel="stylesheet" type="text/css" href="bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" type="text/css" href="style/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="style/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="style/style.css" />
  </head>
  <body ng-app="problemFinderApp">
    <div id="container">

      <h1>Problem Finder</h1>
      <h2>Help entrepreneurs solve real problems</h2>
      <h3>Have you ever found something particularly annoying, but didn't know how to fix it? Share your ideas with others to brainstorm solutions.</h3>

      <div ng-controller="submitProblem">
        <form ng-submit="saveProblem()">
          <textarea type="text" ng-model="newProblem" ng-maxlength="140" placeholder="Submit a problem in 140 characters or less" required></textarea>
          <br />
          <input type="submit" />
        </form>
      </div>

      <div ng-controller="problemView">

        <div class="filters">
          <span>
            Sort By:
            <select ng-model="selectOrder">
              <option value="voteCount">Votes</option>
              <option value="dateAdded">Most Recent</option>
            </select>
          </span>
          <span>
            Filter by Keyword: <input type="text" ng-model="searchText" />
          </span>
        </div>

        <ul>
          <li ng-repeat="problem in problemList | orderByPriority | orderBy:selectOrder:true | filter:searchText">
            <span class="voteContainer">
              <img class="arrowImg" src="style/arrow.png" ng-Click="upvote()" />
              <span class="voteCount">{{problem.voteCount}}</span>
            </span>
            <span class="problemBody">{{problem.body}}</span>
            <span class="comment"><a href="" ng-click="addCommentField()">Comment</a></span>
          </li>
        </ul>

      </div>

    </div>
  </body>
</html>